body {
  font-family: inter;
  scroll-behavior: smooth;
}

div#who-are-we {
  height: 900px;
}

/* .form__box__start {
  width: 80%;
} */

.smooth-scroll {
  scroll-behavior: smooth;
}

.lg\:flex-grow {
  display: none;
}

@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}


ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.carousel {
  overflow: hidden;
}

.carousel {
  position: relative;
  padding-top: 45%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  outline: none;
  border: none;
  width: 100%;
  /* background-color: #f99; */
  background: url("../08575/08575.jpg");
  counter-increment: item;
  /* background-position: 50%, 50%; */
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:nth-child(3) {
  /* background-color: #99f; */
  background: url("../08575/087323.jpg");
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  height: 100%;
  counter-increment: item;
  /* background-position: 50%, 50%; */
  background-repeat: no-repeat;
  background-size: cover;

}

.carousel__slide:nth-child(2) {
  /* background-color: #99f; */
  background: url("../08575/086633.jpg");
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  height: 100%;
  counter-increment: item;
  /* background-position: 50%, 50%; */
  background-repeat: no-repeat;
  background-size: cover;

}

.carousel__slide:nth-child(4) {
  /* background-color: #99f; */
  background: url("../08575/v\ 11202.jpeg");
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  height: 100%;
  counter-increment: item;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.carousel__slide:before {
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  /* background-color: rgba(233, 224, 224, 0.561); */
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  flex-direction: column;
  transition: 2s;
  border: 0;
}

div.carousel__snapper h1 {
  display: block;
  position: relative;
  /* top: 30%; */
  /* text-align: center; */
  color: #3753B9;
  /* left: 50%; */
  font-weight: 700;
  font-size: 96px;
}

div.carousel__snapper h1.text-white {
  color: white;
}

.carousel__snapper button {
  margin-top: 3rem;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: #3753B9;
  border-radius: 2rem;
}

.carousel__snapper button.red {
  background-color: #ff0000;
}


@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 5%;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  /* background-color: #333; */
  /* background: url("./jeremy-bishop-G9i_plbfDgk-unsplash.jpg"); */
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 2s;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 22%;
  width: 4rem;
  height: 4rem;
  background-color: #333;

  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
  z-index: 9999;
}


.carousel::before,
.carousel__prev {
  left: 1rem;
  background: url("../08575/arrow_back_ios_FILL1_wght700_GRAD200_opsz48.png");
  background-size: contain;
}

.carousel::after,
.carousel__next {
  right: 1rem;
  background: url("../08575/arrow_forward_ios_FILL1_wght700_GRAD200_opsz48.png");
  background-size: contain;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  /* background-color: #333; */
  /* background: url("../08575/086633.jpg"); */
  background-size: 50%;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* height: auto; */
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

/* .carousel::before {
  background-image: url("../08575/tatoo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}*/

/* .carousel::after {
  background-image: url("../08575/087323.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */

.grid-container {
  display: grid;
  /* height: 800px; */
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 3rem;
  padding: 10px;
  width: 80%;
}

.grid-container>div {
  background-color: #fff;
  text-align: center;
  height: 350px;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 4px 0px #333333a3;
  font-size: 30px;
}

div.flex p.text-base {
  color: #3753B9;
}

div.flex p.text-sm {
  line-height: 1.7rem;
}

div.grid-two-container {
  display: grid;
  /* background-color: #333; */
  grid-template-columns: 1fr 1fr;
  height: auto;
  align-content: center;
  margin: auto;
  width: 80%;
}

.mySlides {
  display: none;
}

/* .backdrop{
    background-position: center;
    background-size: cover;
    background: url("../081/082.png");
  } */


div.aftertext::after {
  border-bottom: 2px solid black;
}

.options {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.options li {
  position: relative;
  list-style: none;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.options li span {
  position: relative;
}

.options li span:after {
  content: '';
  position: absolute;
  left: 0;
  animation: typing 3s steps(10) infinite;
  width: 100%;
  height: 100%;
  border-left: 2px solid #333;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.form__box__start {
  display: flex;
  flex-direction: column;
}

.form_place {
  padding: 3rem;
}

/* .contact_place {
  width: 45%;
  background-color: coral;
} */

.inner__middle {
  height: 100%;
}

div.test-text {
  font-size: 18px;
  margin: auto;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}

/* h1.w3-center {
  margin-left: 3rem;
  margin-right: 3rem;
} */

h1.w3-center::after,
h1.w3-center::before {
  content: ' ';
  height: 3px;
  width: 10px;
  /* margin-right: 2rem;
  margin-right: 2rem; */
  position: relative;
  font-weight: 800;
  /* border-bottom: 2px solid black; */
  color: #ff0000;
  /* background-image: url(../08575/maximize_FILL0_wght400_GRAD0_opsz48.png); */
  background-repeat: repeat-x;
}

div.grid-two-shiii {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 7rem;
}

div.pics {
  background-color: rgba(51, 51, 51, 0);
  display: flex;
  align-items: center;
}

div.about-us {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 500;
}

div.on-the-front {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: space-between;
  /* margin: 2rem 0 2rem 0; */
}

.show-on-phone {
  display: none;
}

/* .jump-up{
  transition: 3s ease;
}
.jump-up:hover{
  animation-name: calc();
  height: 200px;
} */

div#what-we-do {
  /* margin-top: 9rem; */
  margin-bottom: 9rem;
}


section .form__box {
  display: none;
}

@media (max-width: 600px) {
  span.font-semibold.text-2xl.tracking-tight.font-inter {
    font-size: 1rem;
    display: none;
  }

  .flex.items-center.flex-shrink-0.text-white.mr-6.w-2\/5 {
    width: 75%;
  }

  nav.flex.items-center.justify-between.flex-wrap.bg-white.py-3.px-8 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  div.grid-container {
    grid-template-columns: auto;
  }

  section div#who-are-we {
    height: 100%;
  }

  div .form__box__start {
    width: 100%;
    flex-direction: column;
  }

  div .form_place {
    padding: 0%;
    margin: 3rem;
    width: auto;
    border-bottom: 2px solid white;
    border: none;
  }

  form center h2 {
    display: none;
  }

  .contact_place {
    width: auto;
  }

  section .form__box {
    display: block;
  }

  div.inner__middle div {
    width: 100%;
    font-size: larger;
  }

  div button.remove-shii {
    width: 100%;
    /* margin: 0 0 3rem 0; */
  }

  div.grid-two-container {
    display: flex;
    flex-direction: column-reverse;
  }

  div.why-nau {
    width: 100%;
  }

  div.test-text {
    grid-template-columns: 1fr;
  }

  .w-11\/12.flex.items-center.justify-between {
    display: none;
  }

  div.carousel__snapper h1 {
    font-size: 30px;
  }

  .carousel__snapper button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }

  .carousel__snapper button {
    font-size: 100%;
  }

  div h1.move-up-down {
    font-size: 50px;
  }

  div.grid-two-shiii {
    grid-template-columns: 1fr;
    height: auto;
    margin-bottom: 0;
  }

  a.carousel__prev,
  a.carousel__next {
    /* width: 1rem; */
    /* height: 1rem; */
    display: none;
  }

  .carousel__snapper button {
    /* margin-top: 1rem; */
  }

  .carousel__next {
    right: 1rem;
  }

  .carousel__prev {
    right: 1rem;
  }

  .lg\:flex-grow {
    display: block;
    text-align: center;
  }

  a.block.mt-4.lg\:inline-block.lg\:mt-0.hover\:text-white.mr-4 {
    border-bottom: 1px solid #ff000040;
  }

  .smaller-on-phone {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .dont-show-on-phone {
    display: none;
  }

  .w3-container.w3-animate-bottom.aftertext {
    font-size: 15px;
    width: 100%;
    margin: 0%;
    margin-bottom: 2rem;
  }

  .show-on-phone {
    display: block;
  }

  div.show-on-tabmode {
    display: none;
  }

  .carousel {
    padding-top: 55%;
  }

}


@media (max-width: 850px) {
  div#who-are-we {
    height: auto;
  }

  .grid-container {
    grid-template-columns: auto auto;
  }

  .remove-shii {
    font-size: large;
  }

  .text-4xl {
    font-size: 2rem;
  }

  .form_place {
    margin: 3rem 0 3rem 0;
  }

  /* .w-11\/12.flex.items-center.justify-between {
    display: none;
  } */
  div#show {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 850px) {
  div.carousel__snapper h1 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  a.flex.items-center.flex-shrink-0.text-white.mr-6.w-2\/5 {
    width: 26%;
  }

  .block.lg\:hidden {
    display: none;
  }

  .w-11\/12.flex.items-center.justify-between {
    width: 100%;
  }
}

@media (max-width: 610px) {
  button.flex.items-center.px-3.py-2.border.rounded.text-teal-200.border-teal-400 {
    display: block;
  }

  nav.flex.items-center.justify-between.flex-wrap.bg-white.py-3.px-8 {
    box-shadow: 1px 1px 2px 2px #00000040;
    position: relative;
    z-index: 9999;
    width: 100%;
  }



  .carousel__snapper button {
    margin: 0;
    font-size: 20px;
  }
}

/* about Page */
.about-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  transition: ease-in-out 2s;
}

h1.move-up-down {
  display: block;
  position: relative;
  /* top: 30%; */
  /* text-align: center; */
  color: #3753B9;
  /* left: 50%; */
  font-weight: 700;
  font-size: 70px;
}

/* modal from w3 */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 0px #00000029;
}


/* input style like line */
select, input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #0000005c;
  border-radius: 0;

}
::placeholder{
  color: black;
}

input[type ='submit']{
  display: inline-block;
  /* margin: auto; */
  background: #3753B9;
  border-radius: 6px;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width:1500px) {
  body {
    width: 80%;
    margin: auto;
  }

  .modal-content {
    width: 30%;
  }
}

@media (min-width: 2400px) {
  body {
    width: 1440px;
    margin: auto;
  }
}